.card_body {
  /* width: 380px; */
  width: calc(100% - 30px);
  height: 25vw;
  min-height: 380px;
  transition: ease-out 200ms;
  overflow: hidden;
  position: relative;
}
.bg_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: ease-out 200ms;
}
.card_body:hover .bg_img {
  transform: scale(1.13);
  z-index: 1;
}
.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 55%;
  background-image: linear-gradient(rgba(0, 96, 103, 0), rgb(0, 96, 103));
  z-index: 10;
  transition: ease-out 200ms;
}
.card_body:hover .overlay {
  height: 75%;
}
.info_section {
  position: absolute;
}

.info_container {
  z-index: 20;
  height: fit-content;
  margin:0px 25px;
  margin-bottom: 50px;
  padding-right: 5px;
  position: absolute;
  left: 0px;
  bottom: 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  row-gap: 20px;
}

.card_body:hover .indicators {
  margin-bottom: 70px;
}
.card_body:hover .description {
  bottom: 40px;
  opacity: 1;
  z-index: 30;
}
.pin {
  width: 22px;
}


.place_name {
  font-size: 20px;
  width: 100%;
  text-align: left;
  color: white;
  font-weight: lighter;
  /* font-family: "f-l"; */
}

.head {
  font-size: 30px !important;
  font-weight: bold !important;
  color: white;
  width: 100% !important;
  font-family: "b-ul";
}
.para {
  font-size: 16px !important;
  font-weight: normal !important;
  color: white;
  width: 100% !important;
  /* font-family: "f-l"; */
}
/* @media screen and (max-width: 1100px) {
  .card_body {
    width: 310px;
  }
} */
