.container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
.tour_planner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
  background-color: var(--medGreen);
  color: white;
}
.planner_card {
  display: flex;
  align-items: center;
  max-width: 500px;
  width: 80%;
  gap: 30px;
}
.planner_card img {
  border-radius: 80px;
}
.card_text {
  text-transform: uppercase;
}
.card_text p {
  font-size: 15px;
}
.card_text h3 {
  font-weight: 700;
  word-spacing: -1.5px;
  /* margin-bottom: 16px; */
}
.card_text button {
  background-color: transparent !important;
  border: 2px solid white !important;
  margin-top: 16px !important;
  transition: 0.2s ease-in-out !important;
}

.card_text button:hover {
  background-color: white !important;
  color: var(--medGreen) !important;
}
.book_btn {
  all: unset;
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
  max-width: fit-content;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* background-color: #026451; */
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  padding: 0 26px;
  font-weight: bold;
  border: 2px solid white !important;
  height: 40px;
  margin-top: 16px !important;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  margin: 0;
  text-decoration: none;
}
.book_btn:hover {
  color: var(--medGreen) !important;
  background-color: white !important;
  transition: 0.2s ease-in-out;
}
@media screen and (max-width: 900px) {
  .planner_card {
    flex-direction: column;
    text-align: center;
    height: auto;
  }
  .card_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .tour_planner {
    align-items: stretch;
  }
}
@media screen and (max-width: 530px) {
  .tour_planner {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}
